<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar.html :: header( title = 'Productos')}"></head>
<body>
<main>
    <div class="container px-4 pb-5">
        <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Product')}"></nav>
        <h1 class="pb-2 border-bottom">Lista Empleados</h1>
        <!--
        <a class="btn btn-primary mt-4 mb-4" th:href="@{'/product/new'}">Nuevo Producto</a>
        -->
        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Apellido y Nombre</th>
                <th>Correo</th>
                <th>Departamento</th>
                <th>Ciudad</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee, info : ${listaEmpleados}">
                <td th:text="${info.index + 1}"></td>
                <td th:text="${employee.firstname}"></td>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.department.department}"></td>
                <td th:text="${employee.department.location.city} "></td>

                <td><a class="btn btn-primary"
                       th:href="@{'/employee/info/{id}'(id=${employee.id})}">ver</a>
                </td>
                <td><a class="btn btn-danger"
                       th:href="@{'/employee/delete' + '?id=' + ${employee.id}}">Borrar</a>
                </td>

                <!--
                                <td><a class="btn btn-primary"
                                       th:href="@{'/product/edit' + '?id=' + ${product.id}}">Editar</a>
                                </td>
                                <td><a class="btn btn-danger"
                                       th:href="@{'/product/delete' + '?id=' + ${product.id}}">Borrar</a>
                                </td>
                -->
            </tr>
            </tbody>
        </table>
    </div>
</main>
<script th:replace="~{fragments/navbar.html :: footer-bootstrap}"></script>
</body>
</html>
