<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body {
        font-family: 'Calibri', sans-serif;
    }
</style>
<body>


    <h3>Lista de personas</h3>
    <!--<table>-->
    <div th:fragment="info(listaPersonas)">
    <table>

        Numero: <span th:text="${listaPersonas}"></span>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th>Edad</th>
        </tr>
        <tr th:each="persona, vEstado : ${listaPersonas}">
            <td th:text="${vEstado.index + 1}"></td>
            <td th:text="${persona.nombre}"></td>
            <td th:text="${persona.apellido}"></td>
            <td th:text="${persona.dni}"></td>
            <td th:text="${persona.edad}"></td>
        </tr>
    </table>
    </div>

    <!--ComboBox x fin-->
    <h3>Lista de productos</h3>
    <h2 th:text="|Zona: Este|"></h2>
    <label for="productos">Productos</label>
    <select id="productos">
        <option th:each="producto : ${listaProductos}"
                th:value="${producto.id}"
                th:text="${producto.nombre}"></option>
    </select>


</body>
</html>
