<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}" ></script>
    <title>Title</title>
</head>
<style>
    body {
        font-family: 'Calibri', sans-serif;
    }
</style>
<body>

<p th:text="${zona == '1' ? 'NORTE' : 'SUR'}"></p>
<!--ComboBox x fin-->
<h3>Lista de productos</h3>
<h2 th:text="|Zona: ${zona}|"></h2>
<label for="productos">Productos</label>
<select id="productos" th:if="${zona=='Este'}">
    <option th:each="producto : ${listaProductos}"
            th:value="${producto.id}"
            th:text="${producto.nombre}"
            th:if="${producto.nombre == 'Galleta' or producto.nombre == 'Detergente'}"></option>
</select>

<label th:switch="${#lists.size(listaProductos)}">Cantidad de productos:
    <span th:case="1" style="font-weight: bold">Uno</span>
    <span th:case="2" style="font-weight: bold">Dos</span>
    <span th:case="3" style="font-weight: bold">Tres</span>
    <span th:case="4" style="font-weight: bold">Cuatro</span>
</label>
</body>
</html>
